.App {
  text-align: center;
}
body {
  background-color: #fefefe;
}

.loader {
  animation: spin infinite .3s linear;
  height: 20px;
  width: 20px;
  border: 2px solid #444;
  margin: 0 auto;
  border-top-color: #fff;
  border-radius: 50%;
}

.App-header {
  background-color: #222;
  height: 60px;
  color: white;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes fadeIn {
  from { transform: translateY(-5px); opacity: 0.3;}
  to { transform: translateY(0px); opacity: 1;}
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.dropdown {
  position: relative;
  margin: 0 auto;
  width: 300px;
  border-radius: 3px;
}
input {
  height: 40px;
  width: 100%;
  font-size: 16px;
  color: #222;
  font-weight: 300;
  outline: 0;
  line-height: 40px;
  border: 0;
  border-radius: 2px;
  padding:0 15px;
  animation: fadeIn 1 .3s linear;

}
ul {
  list-style: none;
  max-height: 360px;
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.1),0px 0px 0px 1px rgba(0,0,0,0.1);
  position: absolute;
  top: 40px;
  background-color: #fff;
  left: 0;
  text-align: left;
  padding: 0;
  margin: 0;
}

li {
  height: 120px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  border-bottom: thin solid rgba(0,0,0,0.1);
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}
li.active {
  box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.05);
  background-color: #0072ff14;
}


li.empty-list {
  border: 0;
  color: #444;
  justify-content: center;
}

li h5 {
  font-size: 16px;
  font-weight: 300;
  color: #222222;
  width: 100%;
}
li .small {
  line-height: 1.34;
  font-size: 13px;
  font-weight: 300;
  color: #777;
  width: 100%;
}
li .smaller {
  font-size: 12px;
  font-weight: 300;
  color: #AAA;
}


b {
  font-weight: 400;
  color: #000;
  background-color: #eaea0147;
  transition: all 0.1s linear;
}

li.active b {
  background-color: yellow;
  transition: all 0.1s linear;
}

.result {
  max-width: 400px;
  margin: 0 auto;
  height: 70vh;
  display: flex; 
  align-content: center;
  align-items: center;
}
.result .card {
  min-height: 300px;
  display: flex;
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.05);
  flex-flow: column;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}
.card .header {
  font-weight: 300;
  color: white;
  width: 100%;
  padding: 0 20px;
  text-align: left;
  background-color: teal;
  line-height: 3;
}
.card .body {
  padding: 20px;
  text-align: left;
  line-height: 2;
  color: #666;
}
.card .body p {
  margin-top: 10px;
}
.card .title {
  color: #222;
  border-bottom: thin solid rgba(0,0,0,0.1);
  margin-right: 5px;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}